



<span ng-switch="participant_mgr.debate_style">




	<span ng-switch-when="NA" >
	<div class="article_writing_container">
		<div class="article_writing_left">
			<p class="team_name">Government</p>

			<div class="participant_element">
				<div ng-repeat="(key, value) in participant_mgr.participant_obj" >
					<div ng-if="(value.group =='Gov') && (value.id)">
						<div class=role_user_info>
							<span class="role_name">{{key}}</span>
							<span class="person_name">:{{value.user_name}} </span>
						</div>
						<img ng-src={{value.profile_pict}}>
					</div>
				</div>
			</div>

			<div ng-if="NA_Gov_def_intro">
				<div class="each_element">
				<writing-defintro arg-id="NA_Gov_def_intro"></writing-defintro>
				</div>
			</div>

			<div ng-repeat="arg in NA_Gov_arguments">
				<div class="each_element">
				<writing-argument arg-id="arg"></writing-argument>
				</div>
			</div>
			<div class="add_argument_button">
				<input type="button" value="add argument" ng-click="add_argument('NA', 'Gov')">
			</div>
		</div>

		<div class="article_writing_right">
			<p class="team_name">Opposition</p>

			<div class="participant_element">
				<div ng-repeat="(key, value) in participant_mgr.participant_obj" >
					<div ng-if="(value.group =='Opp') && (value.id)">
						<div class="role_name">{{key}}</div>
						<img ng-src={{value.profile_pict}}>
						<div class="person_name">
						{{value.user_name}} 
						</div>
					</div>
				</div>
			</div>

			<div ng-repeat="arg in NA_Opp_arguments">
				<div class="each_element">
				<writing-argument arg-id="arg"></writing-argument>
				</div>
			</div>
			<div class="add_argument_button">
				<input type="button" value="add argument" ng-click="add_argument('NA', 'Opp')">
			</div>

		</div>
	</div>
	</span>


	<span ng-switch-when="Asian">
	asian
	</span>

	<span ng-switch-when="BP">
	bp
	</span>

	<spang ng-switch-default>
	 no style info
	</spang>

</span>