 <div id="info_prep">
   <div id="link_team_room"></div>
   <p>What you should do before debate</p>
   <ul>
    <li>Debater should go to <strong> Team Discussion Room </strong> and construct argument with your partner</li>
   </ul>
   <p>How to go to <strong> Team Discussion Room</strong></p>
   <ul>
    <li>Click HangoutButton on the right</li>
    <li>After new window has opened, click Join button</li>
    <li>Following button appear and you should chose right button "Close existing window"</li>
    <li>Wait your partner to come</li>
   </ul>
 </div>