 <div id="info_prep">
     
    <div id="link_team_room" ng-mouseenter="teamlink_enter()" ng-mouseleave="teamlink_leave()">
      <ul>
        <li ng-repeat = "team in team_hangout_array">
          <div>
            <p>
              link to <strong> team discussion room </strong> for {{team.name}}
            </p>
            <a href="{{team.hangout_url}}" target="_blank">
                <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-24x100-normal.png" style="border:0;width:100px;height:24px;"/>
            </a>
          </div>
        </li>
      </ul>
    </div>

   <p>What you should do before debate</p>
   <ul>
    <li>Debater should go to <strong> Team Discussion Room </strong> and construct argument with your partner</li>
   </ul>
   <p>How to go to <strong> Team Discussion Room</strong></p>
   <ul>
    <li>Click HangoutButton on the right</li>
    <li>After new window has opened, click Join button</li>
    <li>Following button appear and you should chose right button "Close existing window"</li>
    <li>Wait your partner to come</li>
   </ul>



    <div id="explanation_container" ng-if="show_explanation" class="animated">
      <div id="explanation_title">How to go to TeamDiscussion Room</div>
      <div class="explanation_description">(1) Click Hangout Button</div>
      <div><img src="https://s3.amazonaws.com/mixidea/infobar/hangout_button.jpg"></div>
      <div class="explanation_description">(2) After new window appear, click join botton</div>
      <div><img src="https://s3.amazonaws.com/mixidea/infobar/join_button_en.jpg"></div>
      <div class="explanation_description">(3) Click Right Button</div>
      <div><img src="https://s3.amazonaws.com/mixidea/infobar/ChoiceMark_en.jpg"></div>
      </div>
    </div>




 </div>