
 
<div id="whole">
	<div id="inner_whole">
		<div id="container_top">
			<div class="top_left" ui-view="top_left"></div>
			<div ng-style="top_right_width" ui-view="top_right"></div>
		</div>
		<div ui-view="container_second_top"></div>
		<div ng-style="main_width" id="container_main">
			<div  id="container_main_left">
				<div id="container_main_left_above">
					<div ng-style="main_left_above_left_width" id="container_main_left_above_left">
						<div ui-view="container_main_left_above_left_up"></div>
						<div ui-view="container_main_left_above_left_below"></div>
					</div>
					<div ng-style="main_left_above_right_width" ui-view="container_main_left_above_right"></div>
				</div>
				<div ng-style="main_left_below_width" ui-view="container_main_left_below"></div>
			</div>
			<div ng-style="main_right_width" ui-view="container_main_right"></div>
		</div>
	</div>
</div>

<div id="absolute_pain_1"></div>
<div id="absolute_pain_2"></div>
<div id="absolute_pain_3"></div>
