<div id="participant_table_top">
 	<div id="debater_table_title">Participant Table</div>
	<input id="change_style_button" type="button" ng-click="show_change_style()" value="change style">

	<div id="change_style_pain" ng-if="change_shown" ng-mouseleave="mouseout_change_style()">
		change debate style
		<div><label><input type="radio" ng-model="participant_mgr.debate_style" ng-change="change_style('NA')" value="NA">NA</label></div>
		<div><label><input type="radio" ng-model="participant_mgr.debate_style" ng-change="change_style('Asian')" value="Asian">Asian</label></div>
		<div><label><input type="radio" ng-model="participant_mgr.debate_style" ng-change="change_style('BP')" value="BP">BP</label></div>
		<input type="button" value="cancel" ng-click="cancel_change_style()">
	</div>
 
</div> 

<span ng-switch="participant_mgr.debate_style">

	<span ng-switch-when="NA" ng-controller="ParticipantTableChildCtrl">

		<div class="team_name_row">
			<div class="teame_name_element">
				<div class="teame_name">Government</div>
			</div>
			<div class="teame_name_element">
				<div class="teame_name">Opposition</div>
			</div>
		</div>
		<div class="debater_table">
			<div class="debater_element" ng-class='value.css_style' ng-repeat="(key, value) in participant_mgr.participant_obj">
				<p class="participant_role">{{key}}</p>
				<img ng-src={{value.profile_pict}}>
				<div class="participant_name">{{value.user_name}}</div>
				<input ng-if="value.id==own_user_id" type="button" value="cancel" class="btn_smaller btn-inverse" ng-click="cancel(key)">
				<input ng-if="value.applicant==false && (value.group==participant_mgr.own_group || participant_mgr.is_audience_or_debater == 'Audience')" type="button" value="&nbsp;join&nbsp;" class="btn_smaller btn-primary" ng-click="join(key)">
				<input ng-if="value.applicant==true && value.login==false" type="button" value="decline" class="btn_smaller btn-inverse" ng-click="decline(key)">
			</div> 
		</div>

		<p id="audience_list_title">Audiences</p>
		<div id="audience_list">
			<ul>
				<li ng-repeat="Audience in participant_mgr.audience_array">
					<div ng-class='Audience.css_style' class="audience_element">
						<img ng-src="{{Audience.profile_pict}}">
						<div class="participant_name">{{Audience.user_name}}</div>
					</div>
				</li> 
			</ul>
		</div>

	</span>


	<span ng-switch-when="Asian" ng-controller="ParticipantTableChildCtrl">


		<div class="team_name_row">
			<div class="teame_name_element">
				<div class="teame_name">Proposition</div>
			</div>
			<div class="teame_name_element">
				<div class="teame_name">Opposition</div>
			</div>
		</div>
		<div class="debater_table">
			<div class="debater_element" ng-class='value.css_style' ng-repeat="(key, value) in participant_mgr.participant_obj">
				<p class="participant_role">{{key}}</p>
				<img ng-src={{value.profile_pict}}>
				<div class="participant_name">{{value.user_name}}</div>
				<input ng-if="value.id==own_user_id" type="button" value="cancel" class="btn_smaller btn-inverse" ng-click="cancel(key)">
				<input ng-if="value.applicant==false && (value.group==participant_mgr.own_group || participant_mgr.is_audience_or_debater == 'Audience')" type="button" value="&nbsp;join&nbsp;" class="btn_smaller btn-primary" ng-click="join(key)">
				<input ng-if="value.applicant==true && value.login==false" type="button" value="decline" class="btn_smaller btn-inverse" ng-click="decline(key)">
			</div> 
		</div>

		<p id="audience_list_title">Audiences</p>
		<div id="audience_list">
			<ul>
				<li ng-repeat="Audience in participant_mgr.audience_array">
					<div ng-class='Audience.css_style' class="audience_element">
						<img ng-src="{{Audience.profile_pict}}">
						<div class="participant_name">{{Audience.user_name}}</div>
					</div>
				</li> 
			</ul>
		</div>


	</span>
	<span ng-switch-when="BP" ng-controller="ParticipantTableChildCtrl">

		<div class="team_name_row">
			<div class="teame_name_element">
				<div class="teame_name">OG</div>
			</div>
			<div class="teame_name_element">
				<div class="teame_name">OO</div>
			</div>
		</div>
		<div class="debater_table">
			<div class="debater_element" ng-class='value.css_style' ng-repeat="(key, value) in participant_mgr.participant_obj_bp_open">
				<p class="participant_role">{{key}}</p>
				<img ng-src={{value.profile_pict}}>
				<div class="participant_name">{{value.user_name}}</div>
				<input ng-if="value.id==own_user_id" type="button" value="cancel" class="btn_smaller btn-inverse" ng-click="cancel(key)">
				<input ng-if="value.applicant==false && (value.group==participant_mgr.own_group || participant_mgr.is_audience_or_debater == 'Audience')" type="button" class="btn_smaller btn-primary" value="&nbsp;join&nbsp;" ng-click="join(key)">
				<input ng-if="value.applicant==true && value.login==false" type="button" class="btn_smaller btn-inverse" value="decline" ng-click="decline(key)">
			</div> 
		</div>

		<div class="team_name_row">
			<div class="teame_name_element">
				<div class="teame_name">CG</div>
			</div>
			<div class="teame_name_element">
				<div class="teame_name">CO</div>
			</div>
		</div>
		<div class="debater_table">
			<div class="debater_element" ng-class='value.css_style' ng-repeat="(key, value) in participant_mgr.participant_obj_bp_close">
				<p class="participant_role">{{key}}</p>
				<img ng-src={{value.profile_pict}}>
				<div class="participant_name">{{value.user_name}}</div>
				<input ng-if="value.id==own_user_id" type="button" value="cancel" class="btn_smaller btn-inverse" ng-click="cancel(key)">
				<input ng-if="value.applicant==false && (value.group==participant_mgr.own_group || participant_mgr.is_audience_or_debater == 'Audience')" type="button" class="btn_smaller btn-primary" value="&nbsp;join&nbsp;" ng-click="join(key)">
				<input ng-if="value.applicant==true && value.login==false" type="button" value="decline" class="btn_smaller btn-inverse" ng-click="decline(key)">
			</div> 
		</div>



		<p id="audience_list_title">Audiences</p>
		<div id="audience_list">
			<ul>
				<li ng-repeat="Audience in participant_mgr.audience_array">
					<div ng-class='Audience.css_style' class="audience_element">
						<img ng-src="{{Audience.profile_pict}}">
						<div class="participant_name">{{Audience.user_name}}</div>
					</div>
				</li> 
			</ul>
		</div>


	</span>
	<spang ng-switch-default>
	 no style
	</spang>

</span>

