

<div id="start_speech_container" ng-show="status=='break' && participant_mgr.is_audience_or_debater=='debater'">
	<p>Click the role name to start speech</>
	<ul>
		<li ng-repeat="role in participant_mgr.own_role_array">
			<input class="btn btn-primary" type="button" ng-click="speech_start(role)" value={{role}}>
		</li>
	</ul>
</div>

<div id="speaker_data_container" ng-show="status=='speech' || status=='poi'">
	<div class="speaker_info">
		<div ng-if="status=='poi'">
			<span class="role_name">  {{speech_status.poi_speaker_obj.speaker_group}}</span><br>
			<span class="speaker_name">{{participant_mgr.user_object_data[speech_status.poi_speaker_obj.id].first_name}}</span>
		</div>
		<div ng-if="status=='speech'">
			<span class="role_name"> {{speech_status.speaker_obj.full_role_name}}</span>
			<span class="speaker_name">{{speech_status.speaker_obj.name}}</span>
		</div>
	</div>
	<div class="speech_timer">
		{{timer_value}}
	</div>
</div>


 <div id="complete_button_container" ng-show="(status=='speech' || status=='poi') && (own_user_id==speech_status.speaker_obj.id)">
 	<input class="btn btn-primary" type="button" value="complete speech" ng-click="complete_speech()">
 </div>



<div id="video_canvas_dummy_layout" ng-style="video_dumy_size"> video dummy area
</div>


<div id="poi_button_container"  ng-show="(status=='speech') && (participant_mgr.own_side !=speech_status.speaker_obj.side) && participant_mgr.is_audience_or_debater=='debater'">
	<input class="btn btn-danger" type="button" ng-click="poi()" value="Poi">
</div>



<div id="Finish_button_container" ng-show="(status=='poi') && (own_user_id==speech_status.speaker_obj.id || own_user_id==speech_status.poi_speaker_obj.id)">
        <input class="btn btn-danger" type="button" ng-click="finish_poi()" value="Finish Poi">
</div>

<div id="poi_candidate_container">
  <div>
	<div class="poi_list_container" ng-repeat="user_obj in speech_status.poi_candidate_userobj_array">

		<div class="poi_profile">
			<img class="poi_candidate_img" ng-src="{{participant_mgr.user_object_data[user_obj.id].profile_pict}}">
			<span class="poi_candidate_name">{{participant_mgr.user_object_data[user_obj.id].first_name}}</span>
		</div>

		
		<div class="candidate_button_container" ng-if="speech_status.speaker_obj.id==own_user_id">
			<input type="button" class="btn_smaller btn-primary" ng-click="take_poi(user_obj.id, user_obj.group)" value="take poi">
		</div>


		<div class="candidate_button_container" ng-if="own_user_id==user_obj.id">
			<input type="button" class="btn_smaller btn-inverse" ng-click="cancel_poi()" value="cancel poi">
		</div>
	</div>
  </div>
</div>
