@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\000032}}
#title_container {
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\000035}}
#title_container .title_left_sentence {
  max-width: 1000px;
  min-width: 300px;
  vertical-align: text-bottom;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\0000312}}
#title_container #motion_title {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\0000320}}
#title_container .motion_sentence_Red_xlarge {
  color: red;
  margin-right: 10px;
  padding-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: xx-large;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\0000330}}
#title_container .motion_sentence_large {
  margin-right: 10px;
  padding-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: x-large;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\0000339}}
#title_container .motion_sentence_middle {
  margin-right: 8px;
  padding-right: 8px;
  margin-left: 8px;
  padding-left: 8px;
  font-family: sans-serif;
  font-size: large;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\0000347}}
#title_container .motion_sentence_small {
  margin-right: 3px;
  padding-right: 3px;
  margin-left: 3px;
  padding-left: 3px;
  font-family: sans-serif;
  font-size: medium;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_title\.scss}line{font-family:\0000357}}
#title_container #title_textbox {
  /*
  min-width: 400px;
  */
  padding: 2px;
  font-size: large;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\000031}}
#staus_bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #000000;
  background: #FFF5EE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\000038}}
.status_bar_element_last {
  width: 15%;
  text-align: center;
  font-size: large;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #FDE4CE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\0000316}}
.status_bar_element {
  width: 15%;
  text-align: center;
  font-size: large;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #FDE4CE;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\0000327}}
.status_bar_element:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 19px solid;
  border-color: transparent transparent transparent #FDE4CE;
  right: -38px;
  top: -2px;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\0000340}}
.status_bar_element_last_selected {
  width: 15%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #4cae4c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\0000349}}
.status_bar_element_selected {
  width: 15%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #4cae4c;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_statusbar\.scss}line{font-family:\0000362}}
.status_bar_element_selected:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 19px solid;
  border-color: transparent transparent transparent #4cae4c;
  right: -38px;
  top: -2px;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_static-video\.scss}line{font-family:\000032}}
#video_area_container_static {
  background-color: #E0FFFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\000032}}
#container_top {
  width: 100%;
  display: flex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\000037}}
#top_left {
  flex: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000314}}
#container_second_top {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000318}}
#container_main {
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000322}}
#container_main_left {
  display: table-cell;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000325}}
#container_main_left_above {
  display: flex;
  align-items: stretch;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000330}}
#container_main_left_above_left {
  /*display: table-cell;*/
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000334}}
#container_main_left_above_left_up {
  /*video area*/
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000338}}
#container_main_left_above_left_below {
  /*impression area*/
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000342}}
#container_main_left_above_right {
  /*Direction Bar*/
  width: 300px;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000347}}
#container_main_left_below {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000351}}
#container_main_right {
  display: table-cell;
  vertical-align: top;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_main_structure\.scss}line{font-family:\0000357}}
#container_main_left_above_left {
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\000032}}
#participant_table_top {
  position: relative;
  height: 30px;
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\000038}}
#participant_table_top #debater_table_title {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 20px;
  margin: auto;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000323}}
#participant_table_top #change_style_button {
  position: absolute;
  right: 30px;
  top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000328}}
#participant_table_top #change_style_pain {
  background-color: #E0FFFF;
  border: 2px solid #000000;
  position: absolute;
  width: 150px;
  top: 20px;
  right: 100px;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000336}}
#participant_table_top #change_style_pain > div {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000342}}
.debater_table {
  display: flex;
  flex-wrap: wrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000346}}
.debater_table .debater_element {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  border: 1px solid #000000;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000353}}
.debater_table .debater_element input {
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000357}}
.debater_table .debater_element .participant_role {
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  padding-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000364}}
.debater_table .debater_element img {
  height: 50px;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000368}}
.debater_table .debater_element .participant_name {
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000377}}
.participant_box_default {
  background-color: #FFFACD;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000381}}
.participant_box_logoff {
  background-color: #778899;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000385}}
.participant_box_login {
  background-color: #00FF7F;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000391}}
.team_name_row {
  display: flex;
  flex-wrap: wrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\0000394}}
.team_name_row .teame_name_element {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  border: 1px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003100}}
.team_name_row .teame_name {
  width: 80%;
  margin: 5px auto 5px auto;
  font-weight: bold;
  background-color: #D3D3D3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003108}}
#audience_list_title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003115}}
#audience_list {
  padding: 5px;
  border: 1px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003119}}
#audience_list ul {
  list-style-type: none;
  margin: 3px;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003124}}
#audience_list li {
  margin: 5px;
  display: inline-block;
  list-style-type: none;
  border: 1px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003131}}
#audience_list .audience_element {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_participant_table\.scss}line{font-family:\00003134}}
#audience_list .audience_element img {
  height: 30px;
  margin-top: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_InfoBar\.scss}line{font-family:\000033}}
#link_team_room {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFE4E1;
  float: right;
  width: 200px;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_InfoBar\.scss}line{font-family:\0000315}}
#link_team_room ul {
  padding-left: 0px;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_InfoBar\.scss}line{font-family:\0000318}}
#link_team_room ul p {
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/morninng\/Angular\/angular_fire_hangout\/app\/sass\/_InfoBar\.scss}line{font-family:\0000322}}
#link_team_room ul div {
  padding: 5px;
  margin: 10px;
  background-color: #FFF8DC;
}

/*# sourceMappingURL=marge.css.map */
