<div class="own_note_directive_container">
	<div class="own_note_head">
		<div>
			<p>{{shown_name}}</p>
		</div>
		<div class="range_container">
	          bad <input class="score_range_input" type="range" ng-model="score" ng-change="set_score()"  max="100" min="50" step="1">good 
	    </div>
	    <div class="score_container">
	    	  <div class="score_value">
	          	<span >{{score}}</span>
	          </div>
	          <div class="score_message"> 
		          <span ng-show="94.4 < score ">Plausibly best debating</span>
		          <span ng-show="89.4 < score && score < 94.5" >Brilliant arguments are extremely well-explained</span>
		          <span ng-show="84.4 < score && score < 89.5" >highly compelling and analysed deeply</span>
		          <span ng-show="79.4 < score && score < 84.5" >good degree of explanation and analysis</span>
		          <span ng-show="74.4 < score && score < 84.5" >frequently persuasive</span>
		          <span ng-show="69.4 < score && score < 74.5" >generally relevant and some explanation of them given</span>
		          <span ng-show="64.4 < score && score < 69.5" >Relevant arguments with limited explanation</span>
		          <span ng-show="59.4 < score && score < 64.5" >often relevant, but rarely sustained arguments</span>
		          <span ng-show=" 55 <score && score < 59.5" > rarely relevant claims occasionally formulated as arguments</span>
		          <span ng-show="score && score < 55" > never relevant and confused</span>
	          </div>
	    </div>
	</div>

	<div>
		<div ng-repeat="each_note in own_note_obj_array">
		  <div class="note_repeat_content">
			<div class="each_control">
				<div ng-show="!each_note.under_edit">
					<input type="button" value="edit" ng-click="each_note.under_edit = true">
				</div>
				<div ng-show="each_note.under_edit">
					<input type="button" value="save" ng-click="edit_save_input(each_note)">
				</div>
			</div>
			<div class="each_content" ng-class="each_note.type">
				<div ng-show="each_note.under_edit">
					<div>
						<label><input type="radio" ng-model="each_note.type"  value="note">note</label>
						<label><input type="radio" ng-model="each_note.type" value="refute">refute</label>
						<label><input type="radio" ng-model="each_note.type" value="evaluate">evaluate</label>
					</div>
					<div>
						<textarea ng-model="each_note.content"></textarea>
					</div>
				</div>
				<div ng-show="!each_note.under_edit"  >
					<div ng-bind-html="each_note.content_html"></div>
				</div>
			</div>
		  </div>
		</div>
		<div class="own_note_input">
			<div>
				<label class="radio_note">
					<input type="radio" ng-model="input_data.type" value="note">note
				</label>
				<label class="radio_refute">
					<input type="radio" ng-model="input_data.type" value="refute">refute
				</label>
				<label class="radio_evaluate">
					<input type="radio" ng-model="input_data.type" value="evaluate">evaluate
				</label>
			</div>
			<div>
				<textarea ng-model="input_data.content" placeholder="taking a note for your memo"></textarea>
			</div>
			<div class="input_button">
				<input type="button" value="save" ng-click="save_input()">
			</div>
		</div>
	</div>
</div>