


.article_writing_container{

	display:flex;

	.article_writing_left{
		width:50%;
		box-sizing: border-box;
		border: medium solid #E0FFFF;
		background-color: #98FB98;
	}
	.article_writing_right{
		width:50%;
		box-sizing: border-box;
		border: medium solid #E0FFFF;
		background-color: #98FB98;
	}

	.each_element{
		width:90%;
		margin-right:auto;
		margin-left:auto;
		margin-top:5px;
		margin-bottom:30px;
	}
	.add_argument_button{
		text-align:center;
	}
	.participant_element{
		text-align:center;
		>div{
			padding-left:2px;
			padding-right:2px;
			padding-top:0px;
			padding-bottom:0px;
			background-color:#FAEBD7;
			display: inline-block;
			margin:5px;
			text-align:center;
		}
		img {
			height:40px;
			width:auto;
		}
		.role_name{
			margin-top:0px;
			margin-bottom:0px;
			font-weight:bold;
			font-size:small;
		}
		.person_name{
			font-size:small;
		}
		.role_user_info{
			margin:0px;
		}
	}
	.team_name{
		font-weight:bold;
		font-size:large;
		text-align:center;
		margin-top:5px;
		margin-bottom:5px;
		text-decoration: underline;
	}
}



