

.defintro_Content_container{
	display:flex;
}

.def_intro_container{

	.defintro_textarea{
		@extend .argument_content_basic;
		min-height: 150px;
		background-color: #FFFFFF;
		border-color: #D3D3D3;
		border-style: solid;
		border-width: medium;
	}

	.defintro_content{
		@extend .argument_content_basic;
		min-height: 150px;
		border-style: solid;
		border-color:#FFFFFF ;
		border-width: thin;
		background-color: #FCF5F5;
	}
	.defintro_font{
		font-size: large;
	}

}