
.own_note_directive_container{
	background-color:#F5F5F5;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:40px;
	margin-right:20px;
	margin-left:20px;

	.own_note_head{
		display:flex;
		p{
			margin-top:10px;
			margin-bottom:10px;
			font-weight:bold;
		}
		.range_container{
			margin-left:20px;
			margin-top:10px;
			margin-bottom:10px;
			text-align:center;
			width:200px;
		}

		.score_container{
			display:flex;
			padding-top:10px;
			.score_value{
				text-align:center;
				width:40px;
			}
			.score_message{
				width:300px;
			}
		}

	}




	.radio_note{
		color:blue;
	}
	.radio_refute{
		color:red;
	}
	.radio_evaluate{
		color:green;
	}
	.note{
		background-color:#ADD8E6;
	}
	.refute{
		background-color:#FFF0F5;
	}
	.evaluate{
		background-color:#00FA9A;
	}

	.note_repeat_content{
		display:flex;
		.each_control{
			width:50px;
			border-style: solid;
			border-width: 1px;
			padding-top:10px;
			padding-bottom:10px;;
			text-align:center;
		}
		.each_content{
			flex:1;
			padding:5px;
			border-style: solid;
			border-width: 1px;
		}
	}

	.own_note_input{

		.input_button{
			input{
				margin-right:20px;
				margin-left:auto;
				float:right;
			}
			input:after{
				clear:both;
			}
		}
	}

	textarea{
		width:600px;
		margin-left:30px;
		margin-right:30px;
		height:100px;
	}

}