#staus_bar{
	display:flex;
	width:100%;
	justify-content:space-between;
	border:1px solid #000000;
	background:#FFF5EE;
}
.status_bar_element_last {
	width:15%;
	text-align:center;
	font-size: large;
	padding-top:4px;
	padding-bottom:4px;
	background:#FDE4CE;
}
.status_bar_element {
	width:15%;
	text-align:center;
	font-size: large;
	padding-top:4px;
	padding-bottom:4px;
	background:#FDE4CE;
	margin-right:30px;
	position:relative;
	z-index:2;
}
.status_bar_element:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 19px solid;
	border-color: transparent transparent transparent #FDE4CE;
	right:-38px;
	top:-2px;
	z-index:2;
}


.status_bar_element_last_selected {
	width:15%;
	text-align:center;
	font-size: large;
	font-weight: bold;
	padding-top:4px;
	padding-bottom:4px;
	background:#4cae4c;
}
.status_bar_element_selected {
	width:15%;
	text-align:center;
	font-size: large;
	font-weight: bold;
	color: #FFFFFF;
	padding-top:4px;
	padding-bottom:4px;
	background:#4cae4c;
	margin-right:30px;
	position:relative;
	z-index:2;
}
.status_bar_element_selected:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 19px solid;
	border-color: transparent transparent transparent #4cae4c;
	right:-38px;
	top:-2px;
	z-index:2;
}



