   

#team_discuss_first{
  	background-color:#5F9EA0;
}

#team_discuss_second{
	display:flex;

	.second_left{
		flex:1;
		background-color:#F0F8FF;
	}
	.second_middle{
		background-color:#FFF0F5;
		text-align:center;
	}

	.second_right{
		background-color:#FFF8DC;
	}
}

.argument_element{
	display: table-cell;
	min-width: 400px;
	border: 1px solid #000000;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 4px;

}




