

<div id="title_container">
	<div>
		<div ng-if="!under_edit" class="title_left_sentence">
			<div id="motion_title">
				<span>motion:</span>
			</div>
			<div ng-class="title_data.style">
				{{title_data.motion_screen}}
			</div>
		</div>
		<div ng-if="under_edit" class="title_left_sentence">
			<textarea  ng-model="title_data.motion_screen" ng-change="on_motion_change()" id="title_textbox"  value="input motion here" ng-style="dynamic_width"  autofocus ></textarea>
			
		</div>
	</div>
	<div class="title_right_button" >
		<div ng-if="!under_edit">
			<input class="btn_smaller btn-inverse" type="button" ng-click="edit_start()" value="edit motion">
		</div>
		<div ng-if="under_edit">
			<input type="button" ng-click="save()" value="save">
			<input type="button" ng-click="cancel()" value="cancel">
		</div>
	</div>
</div>